<h1 class="page-header">Edit Blog</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>


<form class="card bg-light mb-3" style="max-width: 90%;" (submit)="updateBlogSubmit()" *ngIf="loading">
  <div class="form-group card-header text-white bg-info">
    <input type="text"
	   name="title"
	   class="form-control"
	   placeholder="Blog Title"
	   [(ngModel)]="blog.title"
	   [disabled]="processing" />
  </div>

  <div class="form-group card-body">
    <textarea name="body"
	      rows="8"
	      cols="100"
	      class="form-control"
	      placeholder="Blog Body"
	      [(ngModel)]="blog.body"
	      [disabled]="processing">
    </textarea>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/delete-blog/', blog._id]">
      <button type="button"
	      name="button"
	      [disabled]="processing"
	      class="btn btn-danger">
	Delete
      </button>
    </a>
    <button type="button"
	    name="button"
	    class="btn btn-warning"
	    (click)="goBack()">
      Go Back
    </button>
    <button type="submit"
	    name="button"
	    class="btn btn-success">
      Save Changes
    </button>
  </div>
</form>
